<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd        http://dubbo.apache.org/schema/dubbo        http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:connection.properties</value>
            </list>
        </property>
    </bean>
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="hello-world-app"/>

    <dubbo:protocol name="dubbo" charset="utf-8" port="12345"/>

    <dubbo:registry address="${dubbo.registry.address}" group="dubbo-demo"/>

    <dubbo:service interface="com.tf.api.UserService" ref="userService" />

    <bean name="userService" class="com.tf.provider.impl.UserServiceImpl">
        <constructor-arg name="delay" value="10"/>
        <constructor-arg name="serverName" value="server A"/>
    </bean>
</beans>